body
{   
    font-size:312.5%;
	width:auto;
	margin:0em auto;
	position:relative;
	background-color:#66cccc;
	overflow-x: hidden;
}
img
{
	display: block;
    max-width: 100%;
    height: auto;
}
.bgimg_1
{
	position:absolute;
	top:0em;
	left:0em;
}
.contents
{
	position:relative;
}
.contents_img1
{
	position:absolute;
	top:0.45em;
        left:5.46%;
	width:8.4%;
	height:8.4%;
}
.contents_img2
{
    padding-top:2.3em;
}
.contents_img2 img
{
	margin:0em auto;
}
.word
{
	width:70.46%;
	margin-top:2em;
	margin-left:14%;
	margin-right:15.54%;
}
.word_1
{
	font-size:0.3em;
	color:#ffffff;
	margin-top:-0.45em;
	line-height:1.8em;
	display: table;
	margin: 0 auto；
	
}
.contents_left
{
	width:2.44em;
	height:2.56em;
	position:absolute;
	top:8.8em;
	left:0.5em;
	text-align:center;
}
.img_3
{
	width:72.35%;
	height:72.35%;
	margin:0 auto;
}
.num
{
	font-size:0.35em;
	color:#ffffff;
	position:absolute;
	bottom:0em;
	left:0.8em;
}
.contents_right
{
	
	width:2.12em;
	height:2.66em;
	position:absolute;
	top:8.8em;
	right:0.5em;
	text-align:center;
}
.num1
{
	font-size:0.35em;
	position:absolute;
	bottom:0.3em;
	left:0.6em;
	color:#ffffff;
}
.bbt
{
	position:absolute;
	bottom:0em;
	left:0em;
}
.aat
{
	margin:0em auto;
}
.summer
{
	position:absolute;
	width:100%;
	bottom:2em;
}
