body
{
	font-size:312.5%;
	width:auto;
	position:relative;
	height:25.6em;
	background-image:url("image/backimg.png");
	margin:0em;
	overflow:hidden;
}
img
{
	display: block;
    max-width: 100%;
    height: auto;
}
header
{
	height:1em;
	background-image:url("image/bluebg.png");
	text-align:center;
	vertical-align:middle;
	position:relative;
	margin-bottom:0.32em;
}
.close
{
	font-size:0.35em;
	color:#ffffff;
	position:absolute;
	top:0.64em;
	left:4.44%;
}
.load
{
	font-size:0.44em;
	color:#ffffff;
	display:block;
	line-height:2.4em;
}
.register
{
	font-size:0.35em;
	color:#ffffff;
	position:absolute;
	top:0.64em;
	right:4.44%;
}
.input-1
{
	height:1.2em;
	position:relative;
	vertical-align:middle;
	background-color:#ffffff;
	margin-bottom:0.32em;
	color:grey;
}
.input-1-img-1
{
	position:absolute;
	width:0.324em;
	height:0.492;
	top:0.372em;
	left:0.528em;
}
.input-1-img-2
{
	position:absolute;
	width:0.024em;
	height:0.624em;
	top:0.3em;
	left:1.329em;
}
.input_border
{
	font-size:0.384em;
	height:1.2em;
	display:block;
	margin-left:5em;
	padding-top:1em;
	border:none;
    width:50%;
	outline:none;
}
.deng
{
	width: 100%;
    height: 2.4em;
    font-size: 0.456em;
	margin-top:0.6em;
	color:white;
	padding:0em;
	background-color:#66cccc;
	border-radius:0.3em;
	outline:none;
}
p
{
	font-size: 0.284em;
    margin-top: 0.4em;
    color: #66cccc;
    text-align: right;
}