body
{
	overflow-x:hidden;
	
}
html
{
	font-size:625%;


}
img
{
	max-width:100%
}
.p0
{
	padding-left:0rem;
	padding-right:0rem;
}
.zero
{
	padding:0rem 0rem 0rem 0.15rem;
}
.head_firstPart
{
	overflow:auto;
	padding:0.12rem 0rem;
}
.head_firstPart p
{
	display:inline;
	vertical-align:middle;
	font-size:0.14rem;
	color:rgb(41,176,120);
}
.head_firstPart img
{
	float:right;
	margin-left:0.16rem;
}

.ob
{
	background-color:rgb(41,176,120);
}
.mynav-abox
{
	margin:0rem;
	border:none;
}
.mynav-box
{
	background-color:rgb(41,176,120);
	padding:0rem;

}
@media (max-width: 768px)
{
	.mynav-box
	{
		text-align:center;
	}
}
@media (min-width: 768px)
{
.mynav
{
	float:right;
}
}
.mynav li:hover
{
	border-bottom:0.05rem solid white;
}
#color-white
{
	color:white;
}
.mynav li
{
	padding:0.27rem 0rem;
	letter-spacing:0.1rem;
	font-size:0.16rem;
	
}


section
{
	background-color:rgb(250,250,250);
	padding-bottom:2rem;
}
.indexword
{
	padding:0.33rem 0 0.29rem 0.15rem;
	font-size:0.16rem;
	border-bottom:0.01rem solid rgb(208,214,217);
	color:rgb(41,176,120);
}
.indexword a
{
	color:black;
}
.nava
{
	padding: 0.15rem 0rem;
	position:relative;
	border-bottom:0.01rem solid rgb(237,241,242);
}
#direction
{
	font-size:0.16rem  !important;
	color:rgb(153,153,153)  !important;
}
#direction:hover
{
	background-color:rgb(250,250,250);
	cursor:default; 
}
.font-end
{
	font-size:0.16rem;
	color:black;
	font-weight:600;
	margin-bottom:0.47rem;
	padding:0.32rem 0rem;
	border-bottom:0.01rem solid rgb(208,214,217);
}

.floor-F1
{
    border-bottom:0.01rem solid rgb(237,241,242);
}

.floor-F1 img
{
    float:left;
    display:inline-block;
	margin:0.2rem 0.08rem 0.16rem 0.1rem;
}
.floor-F1 p
{
	font-size:0.16rem;
	color:black;
	font-weight:600;
	margin: 0.25rem 0.1rem 0.1rem 0rem;
}
.floor-F1 span
{
	font-size:0.14rem;
	color:black;
	margin-right:0.15rem;
	line-height:0.2rem;
}
.floor-F2 td
{
	width:50%;
	font-size:0.12rem;
	color:rgb(153,153,153);
	padding:0.13rem 0.10rem;
	border-bottom:0.01rem solid rgb(237,241,242);
}
.floor-F3 td
{
	font-size:0.12rem;
	padding:0.13rem 0.10rem;
	color:rgb(153,153,153);
	border-bottom:0.01rem solid rgb(237,241,242);
}
#color-red
{
	color:red;
}
#color-black
{
	color:black;
}
.table-left
{
	width:39.89%;
	position:absolute;
	height:1.08rem;
	top:0rem;
	border-bottom:0.01rem solid rgb(237,241,242);
	border-right:0.01rem solid rgb(237,241,242);
	left;0rem;
}
.table-left p
{
    position:absolute;
	top:50%;
	color:rgb(153,153,153);
	left:50%;
	transform:translate(-50%,-50%);
}
.table-right-1
{
	width:60.11%;
	border-bottom:0.01rem solid rgb(237,241,242);
	height:0.36rem;
	position:absolute;
	top:0rem;
	right:0rem;

}
#bd-right
{
	border-right:0.01rem solid rgb(237,241,242);
}
.sp1
{
	position:absolute;
	top:50%;
	left:0.23rem;
	transform:translateY(-50%);
}
.sp2
{
	position:absolute;
	top:50%;
	right:0.1rem;
	transform:translateY(-50%);
}
.table-right-2
{
	width:60.11%;
	position:absolute;
	border-bottom:0.01rem solid rgb(237,241,242);
	height:0.36rem;
	top:0.36rem;
	right:0rem;

}
.table-right-3
{
	width:60.11%;
	height:0.36rem;
	position:absolute;
	border-bottom:0.01rem solid rgb(237,241,242);
	top:0.72rem;
	right:0rem;

}
.special-box
{
	position:relative;
	height:0.36rem;
	width:100%;
	height:1.05rem;

}



.index_footer
{
	background-color:rgb(38,162,111);
	margin-top:0rem;
	border-bottom:0.005rem solid white;
}
@media (max-width: 768px)
{
	.para1
	{
		
	}
	.para2
	{
		margin-left:0rem !important;
	}
	.para3
	{
		margin-left:0rem !important;
	}
	.para4
	{
		margin-left:0rem !important;
	}
	.para5
	{
		margin-top:0.4rem !important;
	}
	.mid
	{
		text-align:left !important;
	}
}
.para1
{
	
	margin-top:0.38rem;
	margin-bottom:0.15rem;
}
.para1 a,.para2 a,.para3 a,.para4 a,.para5 a
{
	font-size:0.16rem;
	color:white;
}
.para2
{
	margin-top:0.38rem;
	margin-bottom:0.3rem;
	margin-left:0.4rem;

}
.para3
{
	margin-top:0.17rem;
	margin-left:0.4rem;
	padding-bottom:0.07rem;
	margin-bottom:0.12rem;

}
.para4
{
	margin-top:0.17rem;
	margin-left:0.4rem;
	padding-bottom:0.07rem;
	margin-bottom:0.12rem;

}
.para5
{
	margin-top:0.8rem;
    margin-bottom:0.34rem;

}
.text-9
{
	font-size:0.16rem;
	color:white;
	margin-top:0.39rem;
	margin-right:0.3rem;
	margin-bottom:0.09rem;
}
.mid
{
	text-align:right;
}
.wei
{	
	margin-right:0.32rem;
	display:inline-block;
	margin-bottom:0.2rem;
	
}
.last
{
	background-color:rgb(38,162,111);
	text-align:center;
	position:relative;
}
.last p
{
	padding:0.08rem;
	margin:0rem;
}
.onhover li:hover
{
	text-decoration:underline
}
.onhover a
{
	color:black;
}
.onhover
{
	padding-left:0rem;
}




@media (max-width: 1200px)
{
	.in-box1
	{
		margin-bottom:0.3rem;
	}
	.sout-box
	{
		margin-top:0rem !important;
		justify-content:space-between !important;
	}
}
@media (max-width: 995px)
{
	 .in-box1
	{
		
		margin:0rem auto 0.3rem auto;
	}
	.in-box2
	{
		margin:0rem auto 0.3rem auto !important;
	}
}
@media (max-width: 768px)
{
	.font-end
	{
		text-align:center;
	}
}
.sout-box
{
	display:flex;
	margin-top:0.48rem;
	justify-content:flex-start;
	width:100%;
	flex-wrap:wrap;
}

.out-box
{
	display:flex;
	justify-content:space-between;
	width:100%;
	flex-wrap:wrap;
}
.in-box1
{
	width:3.756rem;
	position:relative;
	background-color:white;
}
.in-box2
{
	width:3.756rem;
	margin-right:0.25rem;
	position:relative;
	background-color:white;
}
.in-box2:hover .cup
{
	visibility:visible;	
}
.in-box1:hover .cup
{
	visibility:visible;
}
.cup
{
	position:absolute;
	width:100%;
	padding:0rem 0.35rem;
	top:0rem;
	opacity:0.8;
	left:0rem;
	height:100%;
	visibility:hidden;
	background-color:rgb(35,232,221);
}
.cup h2
{
	text-align:center;
	margin:0.6rem 0rem;
	color:rgb(14,14,14);
}
.cup p
{
	text-align:justify;
    color:rgb(14,14,14);
	font-size:0.18rem;
}
