html
{
	font-size:625%;
}
img
{
	max-width:100%
}
.p0
{
	padding-left:0rem;
	padding-right:0rem;
}
.head_firstPart
{
	overflow:auto;
	padding:0.12rem 0rem;
}
.head_firstPart p
{
	display:inline;
	vertical-align:middle;
	font-size:0.14rem;
	color:rgb(41,176,120);
}
.head_firstPart img
{
	float:right;
	margin-left:0.16rem;
}
.ob
{
	background-color:rgb(41,176,120);
}
.head_secondPart
{
	background-color:rgb(41,176,120);
	overflow:auto;
	padding-left:0rem;
	padding-right:0rem;
	vertical-align:middle;
	position:relative;
	
}
.head_secondPart img
{
	vertical-align:middle;
	position:absolute;
	top:50%;
	transform:translateY(-50%);

	
}
.head_secondPart ul
{
	
}
.head_secondPart ul li
{
	list-style:none;
	float:right;
	padding:0.41rem 0.35rem;
}
.about
{
	padding-right:0rem;
}
.f1:hover
{
	border-bottom:0.05rem solid white;
}
.head_secondPart ul li a:hover
{
	text-decoration:none;
}
.head_secondPart ul li a
{
	color:white;
	letter-spacing:0.05rem;
	font-size:0.16rem;
}

.maincontent
{
	padding-top:1.65rem;
	background-color:rgb(250,250,250);
}
.text
{
	font-size:0.16rem;
	color:rgb(153,153,153);
	line-height:0.26rem;
}
.text2
{
	text-align:center;
	margin-bottom:0.31rem;
	color:black;
	font-size:0.18rem;
}
.text1
{
	margin: 0.1rem 0 0.3rem 0;
	
}
.maincontent .box1
{
	padding-right:0.36rem;

}
.maincontent .box1 img
{
	display:block;
	margin:0 auto 0.34rem auto;
}
.maincontent .box2
{
	padding-left:0.7rem;
	padding-right:0.85rem;

}
.maincontent .box2 img
{
	display:block;
	margin:0.13rem auto 0.3rem auto;
}
.maincontent .box3
{
	padding-left:0.46rem;
	padding-right:0.81rem;

}
.maincontent .box3 img
{
	display:block;
	margin:0.09rem auto 0.3rem auto;
}
.maincontent .box4
{
	padding:0.62rem 0rem 0.1rem 0.56rem;
	margin-left: -0.41rem;
	border-left:0.02rem dashed rgb(222,222,222);
}
.text-3
{
	text-align: center;
    color: black;
    font-size: 0.18rem;
    padding: 0.99rem 0 0.51rem 0;
    letter-spacing: 0.03rem;
    font-weight: 600;
}
.text-4
{
	color: rgb(153,153,153);
    font-size: 0.14rem;
	line-height:0.26rem;
}
.text-5
{
	text-align: center;
    color: black;
    font-size: 0.18rem;
    padding: 0.26rem 0 0.73rem 0;
    letter-spacing: 0.03rem;
    font-weight: 600;
}
.text-7
{
	text-align: center;
    color: black;
    font-size: 0.18rem;
    padding: 0.78rem 0 0.68rem 0;
    letter-spacing: 0.03rem;
    font-weight: 600;
}
.text-8
{
	text-align: center;
    color: black;
    font-size: 0.18rem;
    padding: 0.22rem 0 0.28rem 0;
    letter-spacing: 0.03rem;
    font-weight: 600;
}
.p1
{
	padding:0rem 0rem 0.93rem 0rem;
}
section .box-1
{
	position:relative;
	padding:0rem;
}
.box-1 p
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	right:0.55rem;
}
.box-1-rec
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	right:0rem;
}
section .box-2
{
	position:relative;
	padding-right:0rem;
	padding-left:0.3rem;
}
.box-2 p
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	right:0.1rem;
}
section .box-3
{
	position:relative;
	padding-right:0rem;
	padding-left:0.5rem;
}
section .box-3 p
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	right:0.2rem;
}
.box-3-rec
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:0rem;
}
section .box-4
{
	position:relative;
	padding-right:0rem;
	padding-left:0.64rem;
}
section .box-4 p
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	right:0.22rem;
}
.box-4-rec
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:0.05rem;
}
.text-6
{
	color: rgb(176,176,176);
    font-size: 0.14rem;
	line-height:0.26rem;
}
.frame
{
	width: 2.72rem;
    padding: 2.09rem 0.36rem 0.4rem 0.36rem;
	position:relative;
	background-color:rgb(255,255,255);
}
.mid1
{
	position:absolute;
	left:50%;
	top:0.2rem;
	transform:translateX(-50%);
}
.mid2
{
	position:absolute;
    text-align:center;
	top:1.63rem;
	left:0.58rem;
	font-size:0.18rem;
	color:black;

}
.sec-box-1
{
	padding:0rem;
}
.sec-box-2
{
	padding:0 0.2rem 0rem 0.12rem;
}
.sec-box-3
{
	padding:0 0.2rem;
}
.sec-box-4
{
	padding-left:0.3rem;
}
.circle
{
	width:0.13rem;
	height:0.13rem;
	float:left;
	margin-right:0.03rem;
	border-radius:0.5rem;
	background-color:rgb(255,255,255);
}
.circle1
{
	width:0.13rem;
	height:0.13rem;
	float:left;
	margin-right:0.05rem;
	border-radius:0.5rem;
	background-color:rgb(41,176,120);
}
.circle_box
{
	width:0.66rem;
	margin:0 auto;
	margin-top:0.25rem;
	padding-bottom:0.55rem;
	height:0.13rem;
}
.picture-1:hover
{
		box-shadow:0px 0px 5px rgb(22,245,242);
}
.picture-1
{
	width:20%;
	height:1.77rem;
	float:left;
    position:relative;
	background-color:rgb(255,255,255);
}
.picture-1 img
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.contact
{
	background-color:#ffffff;
	padding:0 16.5%;
	
}
.contact li
{
	font-size:0.14rem;
	color:rgb(153,153,153);
	float:left;
	letter-spacing:0.02rem;
	margin-right:0.49rem;
	padding-bottom:0.08rem;
	margin-bottom:0.1rem;
}
.index_footer
{
	background-color:rgb(38,162,111);
	margin-top:0.93rem;
	padding-bottom:1.71rem;
	border-bottom:0.005rem solid white;
}
.para1
{
	position:absolute;
	left:0.15rem;
	top:0.38rem;
	font-size:0.16rem;
	color:white;
}
.para2
{
	position:absolute;
	right:1.75rem;
	font-size:0.16rem;
	color:white;
	top:0.38rem;
}
.para3
{
	position:absolute;
	left:3.6rem;
	top:0.82rem;
	font-size:0.16rem;
	color:white;
}
.para4
{
	position:absolute;
	right:0.35rem;
	font-size:0.16rem;
	color:white;
	top:0.82rem;
}
.para5
{
	position:absolute;
	left:0.15rem;
	font-size:0.16rem;
	color:white;
	top:1.21rem;
}
.para6
{
	position:absolute;
	left:3.6rem;
	top:1.21rem;
	font-size:0.16rem;
	color:white;
}
.para7
{
	position:absolute;
	right:0.65rem;
	top:1.21rem;
	font-size:0.16rem;
	color:white;
}
.text-9
{
	font-size:0.16rem;
	color:white;
	position:absolute;
	top:0.4rem;
	right:0.16rem;
}
.wei
{
	position:absolute;
	top:0.61rem;
	right:0.16rem;
}
.last
{
	height:0.32rem;
	background-color:rgb(38,162,111);
	text-align:center;
	position:relative;
}
.last p
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.onhover li:hover
{
	text-decoration:underline
}
.onhover a
{
	color:black;
}
