body
{
	overflow-x:hidden
}
html
{
	font-size:625%;
}
img
{
	max-width:100%
}
.p0
{
	padding-left:0rem;
	padding-right:0rem;
}
.zero
{
	padding:0rem 0rem 0rem 0.15rem;
}
.head_firstPart
{
	overflow:auto;
	padding:0.12rem 0rem;
}
.head_firstPart p
{
	display:inline;
	vertical-align:middle;
	font-size:0.14rem;
	color:rgb(41,176,120);
}
.head_firstPart img
{
	float:right;
	margin-left:0.16rem;
}

.ob
{
	background-color:rgb(41,176,120);
}
.mynav-abox
{
	margin:0rem;
	border:none;
}
.mynav-box
{
	background-color:rgb(41,176,120);
	padding:0rem;

}
@media (min-width: 768px)
{
.mynav
{
	float:right;
}
}
.mynav li:hover
{
	border-bottom:0.05rem solid white;
}
#color-white
{
	color:white;
}
.mynav li
{
	padding:0.27rem 0rem;
	letter-spacing:0.1rem;
	font-size:0.16rem;
	
}


.maincontent
{
	padding-top:1.65rem;
	background-color:rgb(250,250,250);
}
.text
{
	font-size:0.16rem;
	color:rgb(153,153,153);
	line-height:0.26rem;
}
.text2
{
	text-align:center;
	margin-bottom:0.31rem;
	color:black;
	font-size:0.18rem;
}
.text1
{
	margin: 0.1rem 0 0.3rem 0;
	
}
@media screen and (max-width: 768px)
{
	.box1,.box2,.box3,.box4
	{
		text-align:center;
	}
}
.maincontent .box1
{
	padding-right:0.36rem;

}
.maincontent .box1 img
{
	display:block;
	margin:0 auto 0.34rem auto;
}
.maincontent .box2
{
	padding-left:0.7rem;
	padding-right:0.85rem;

}
.maincontent .box2 img
{
	display:block;
	margin:0.13rem auto 0.3rem auto;
}
.maincontent .box3
{
	padding-left:0.46rem;
	padding-right:0.81rem;

}
.maincontent .box3 img
{
	display:block;
	margin:0.09rem auto 0.3rem auto;
}
.maincontent .box4
{
	padding:0.62rem 0rem 0.1rem 0.56rem;
	margin-left: -0.41rem;
	border-left:0.02rem dashed rgb(222,222,222);
}
.text-3
{
	text-align: center;
    color: black;
    font-size: 0.18rem;
    padding: 0.99rem 0 0.51rem 0;
    letter-spacing: 0.03rem;
    font-weight: 600;
}
.text-4
{
	color: rgb(153,153,153);
    font-size: 0.14rem;
	line-height:0.26rem;
}
.text-5
{
	text-align: center;
    color: black;
    font-size: 0.18rem;
    padding: 0.26rem 0 0.73rem 0;
    letter-spacing: 0.03rem;
    font-weight: 600;
}
.text-7
{
	text-align: center;
    color: black;
    font-size: 0.18rem;
    padding: 0.78rem 0 0.68rem 0;
    letter-spacing: 0.03rem;
    font-weight: 600;
}
.text-8
{
	text-align: center;
    color: black;
    font-size: 0.18rem;
    padding: 0.22rem 0 0.28rem 0;
    letter-spacing: 0.03rem;
    font-weight: 600;
}
.p1
{
	padding:0rem 0rem 0.93rem 0rem;
}
@media (max-width: 768px)
{
	.box-1,.box-2,.box-3,.box-4
	{
		
		margin:0rem auto 0.5rem auto;
		
	}
	.box-4{
		width:3.1rem;
	}
}
section .box-1
{
	padding:0rem;
	width:3.1rem;
    position:relative;
}
.box-1 p
{
	position:absolute;
	top:50%;
	left:0.9rem;
	transform:translateY(-50%);

}
.box-1-rec
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:2.6rem;
}
section .box-2
{
	position:relative;
	width:3.1rem;
	padding:0rem;

}
.box-2 p
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:0.8rem;
}
.box-2-rec
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:2.6rem;
}
section .box-3
{
	position:relative;
	width:3.1rem;
	padding:0rem;

}
section .box-3 p
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:0.9rem;
}
.box-3-rec
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:2.6rem;
}
section .box-4
{
	position:relative;
	width:2.7rem;
	padding:0rem;

}
section .box-4 p
{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:0.9rem;
}

.text-6
{
	color: rgb(176,176,176);
    font-size: 0.14rem;
	line-height:0.26rem;
}
.frame
{
	width: 2.72rem;
    padding: 2.09rem 0.36rem 0.4rem 0.36rem;
	position:relative;
	background-color:rgb(255,255,255);
}
.mid1
{
	position:absolute;
	left:50%;
	top:0.2rem;
	transform:translateX(-50%);
}
.mid2
{
	position:absolute;
    text-align:center;
	top:1.63rem;
	left:0.58rem;
	font-size:0.18rem;
	color:black;

}
.sec-box-1
{
	padding:0rem;
}
@media (max-width: 768px)
{
.sec-box-1
{
	text-align:center;
	margin-bottom:0.3rem;
}
.sec-box-2
{
	text-align:center;
	margin-bottom:0.3rem;
	margin-left:0.05rem;
}
.sec-box-3
{
	text-align:center;
	margin-bottom:0.3rem;
	margin-left:0.02rem;
}
.sec-box-4
{
	text-align:center;
	margin-bottom:0.3rem;
	margin-left:-0.05rem;
}
.frame
{
	display:inline-block;
}
}
.sec-box-2
{
	padding:0 0.2rem 0rem 0.12rem;
}
.sec-box-3
{
	padding:0 0.2rem;
}
.sec-box-4
{
	padding-left:0.3rem;
}
.circle
{
	width:0.13rem;
	height:0.13rem;
	float:left;
	margin-right:0.03rem;
	border-radius:0.5rem;
	background-color:rgb(255,255,255);
}
.circle1
{
	width:0.13rem;
	height:0.13rem;
	float:left;
	margin-right:0.05rem;
	border-radius:0.5rem;
	background-color:rgb(41,176,120);
}
.circle_box
{
	width:0.66rem;
	margin:0 auto;
	margin-top:0.25rem;
	padding-bottom:0.55rem;
	height:0.13rem;
}
.pic-box:hover
{
    box-shadow:0px 0px 5px rgb(22,245,242);
}
@media (max-width: 768px)
{
	.pic-box
	{
		
		margin:0.3rem auto;
	}
}
.pic-box
{
    width:2.4rem;
	height:2.4rem;
	position:relative;
	background-color:rgb(255,255,255);
	
}
.pic-box img
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.contact
{
	background-color:#ffffff;
	
}
.my-li a
{
	font-size:0.14rem;

	color:rgb(153,153,153);
	letter-spacing:0.02rem;
}
.my-li  div
{
	padding:0rem;
	width:1.1rem;
	padding-bottom:0.18rem;
}

.index_footer
{
	background-color:rgb(38,162,111);
	margin-top:0rem;
	border-bottom:0.005rem solid white;
}
@media (max-width: 768px)
{
	.para1,.para2,.para3,.para5,.para6
	{
		text-align:center;
	}
}
.para1 p
{
	
	margin-top:0.38rem;
	margin-bottom:0.15rem;
	font-size:0.16rem;
	color:white;
}
.para2 p
{
	margin-top:0.38rem;
	margin-bottom:0.15rem;
	margin-left:0.5rem;
	font-size:0.16rem;
	color:white;
}
.para3 p
{
	margin-top:0.17rem;
	margin-left:0.5rem;
	padding-bottom:0.07rem;
	margin-bottom:0.12rem;
	font-size:0.16rem;
	color:white;
}
.para5 p
{
	margin-top:0.07rem;
    margin-bottom:0.34rem;
	font-size:0.16rem;
	color:white;
}
.para6 p
{

    margin-top:0.07rem;
    margin-bottom:0.34rem;
	margin-left:0.5rem;
	font-size:0.16rem;
	color:white;
}
.text-9
{
	font-size:0.16rem;
	color:white;
	margin-top:0.39rem;
	margin-right:0.3rem;
	margin-bottom:0.09rem;
}
.mid
{
	text-align:right;
}
.wei
{	
	margin-right:0.32rem;
	display:inline-block;
	margin-bottom:0.2rem;
	
}
.last
{
	background-color:rgb(38,162,111);
	text-align:center;
	position:relative;
}
.last p
{
	padding:0.08rem;
}
.onhover li:hover
{
	text-decoration:underline
}
.onhover a
{
	color:black;
}
.onhover
{
	padding-left:0rem;
}
