html
{
	font-size:625%;
}
img
{
	max-width:100%
}
.p0
{
	padding-left:0rem;
	padding-right:0rem;
}
.head_firstPart
{
	overflow:auto;
	padding:0.12rem 0rem;
}
.head_firstPart p
{
	display:inline;
	vertical-align:middle;
	font-size:0.14rem;
	color:rgb(41,176,120);
}
.head_firstPart img
{
	float:right;
	margin-left:0.16rem;
}
.ob
{
	background-color:rgb(41,176,120);
}
.head_secondPart
{
	background-color:rgb(41,176,120);
	overflow:auto;
	padding-left:0rem;
	padding-right:0rem;
	vertical-align:middle;
	position:relative;
	
}
.head_secondPart img
{
	vertical-align:middle;
	position:absolute;
	top:50%;
	transform:translateY(-50%);

	
}
.head_secondPart ul
{
	
}
.head_secondPart ul li
{
	list-style:none;
	float:right;
	padding:0.41rem 0.35rem;
}
.about
{
	padding-right:0rem;
}
.f1:hover
{
	border-bottom:0.05rem solid white;
}
.head_secondPart ul li a:hover
{
	text-decoration:none;
}
.head_secondPart ul li a
{
	color:white;
	letter-spacing:0.05rem;
	font-size:0.16rem;
}
section
{
	background-color:rgb(250,250,250);
	padding-bottom:2rem;
}
.indexword
{
	padding:0.33rem 0 0.29rem 0;
	font-size:0.16rem;
	color:rgb(41,176,120);
}
.indexword a
{
	color:black;
}
.section_left
{
	border-bottom:0.01rem solid rgb(230,230,230);
	text-align:center;
	margin: 0 -0.15rem;
}
.section_left p
{
	font-size:0.18rem;
	color:black;
	font-weight:600;
	padding-top:0.21rem;
	padding-bottom:0.1rem;
}
.empty-circle
{
	width:0.14rem;
	height:0.14rem;
	border:0.015rem solid orange;
	border-radius:0.1rem;
	line-height:0.1rem;
	display:inline-table;
}
li
{
	list-style:none;
	font-size:0.16rem;
	color:rgb(41,176,120);
	margin:0 auto;
	padding-top:0.4rem;
}
.left-box
{
	background-color:#ffffff;
}

.global
{
	background-color:#ffffff;
	overflow:auto;
	margin-left: 0.15rem;
}
.firstPart
{
	border-bottom:0.01rem solid rgb(230,230,230);
	padding-bottom: 0.25rem;
}
.firstPart img
{
	float:left;
	margin:0.58rem 0.36rem 0.65rem 0.85rem;
}
.firstPart p
{
	font-size:0.14rem;
	line-height:0.3rem;
	margin-top:0.26rem;
	margin-right:0.5rem;
	color:rgb(153,153,153);
}
.secondPart
{
	padding:0.4rem 0.5rem 0.5rem 0.5rem;
}
.secondPart p
{
	font-size:0.14rem;
	line-height:0.3rem;
	text-align:justify;
	margin-bottom:0.38rem;
	color:rgb(153,153,153);
}

.index_footer
{
	background-color:rgb(38,162,111);
	padding-bottom:1.71rem;
	border-bottom:0.002rem solid white;
}
.para1
{
	position:absolute;
	left:0.15rem;
	top:0.38rem;
	font-size:0.16rem;
	color:white;
}
.para2
{
	position:absolute;
	right:1.75rem;
	font-size:0.16rem;
	color:white;
	top:0.38rem;
}
.para3
{
	position:absolute;
	left:3.6rem;
	top:0.82rem;
	font-size:0.16rem;
	color:white;
}
.para4
{
	position:absolute;
	right:0.35rem;
	font-size:0.16rem;
	color:white;
	top:0.82rem;
}
.para5
{
	position:absolute;
	left:0.15rem;
	font-size:0.16rem;
	color:white;
	top:1.21rem;
}
.para6
{
	position:absolute;
	left:3.6rem;
	top:1.21rem;
	font-size:0.16rem;
	color:white;
}
.para7
{
	position:absolute;
	right:0.65rem;
	top:1.21rem;
	font-size:0.16rem;
	color:white;
}
.text-9
{
	font-size:0.16rem;
	color:white;
	position:absolute;
	top:0.4rem;
	right:0.16rem;
}
.wei
{
	position:absolute;
	top:0.61rem;
	right:0.16rem;
}
.last
{
	height:0.32rem;
	background-color:rgb(38,162,111);
	text-align:center;
	position:relative;
}
.last p
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}