body
{
	overflow-x:hidden
}
html
{
	font-size:625%;
}
img
{
	max-width:100%
}
.p0
{
	padding-left:0rem;
	padding-right:0rem;
}
.zero
{
	padding:0rem 0rem 0rem 0.15rem;
}
.head_firstPart
{
	overflow:auto;
	padding:0.12rem 0rem;
}
.head_firstPart p
{
	display:inline;
	vertical-align:middle;
	font-size:0.14rem;
	color:rgb(41,176,120);
}
.head_firstPart img
{
	float:right;
	margin-left:0.16rem;
}

.ob
{
	background-color:rgb(41,176,120);
}
.mynav-abox
{
	margin:0rem;
	border:none;
}
.mynav-box
{
	background-color:rgb(41,176,120);
	padding:0rem;

}
@media (min-width: 768px)
{
.mynav
{
	float:right;
}
}
.mynav li:hover
{
	border-bottom:0.05rem solid white;
}
#color-white
{
	color:white;
}
.mynav li
{
	padding:0.27rem 0rem;
	letter-spacing:0.1rem;
	font-size:0.16rem;
	
}

section
{
	background-color:rgb(250,250,250);
	padding-bottom:2rem;
}
.indexword
{
	padding:0.33rem 0 0.29rem 0;
	font-size:0.16rem;
	color:rgb(41,176,120);
}
.indexword a
{
	color:black;
}
.section_left
{
	border-bottom:0.01rem solid rgb(230,230,230);
	text-align:center;
	margin: 0 -0.15rem;
}
.section_left p
{
	font-size:0.18rem;
	color:black;
	font-weight:600;
	padding-top:0.21rem;
	padding-bottom:0.1rem;
}
.empty-circle
{
	width:0.14rem;
	height:0.14rem;
	border:0.015rem solid orange;
	border-radius:0.1rem;
	line-height:0.1rem;
	display:inline-table;
}
li
{
	list-style:none;
	font-size:0.16rem;
	color:rgb(41,176,120);
	margin:0 auto;
	padding-top:0.4rem;
}
@media (max-width: 768px)
{
	.left-box
	{
		margin:0rem 0.3rem 0.3rem 0.3rem 
	}
	.right-box
	{
		margin: 0rem 0.15rem 0.3rem 0rem;
	}
	.firstPart p
	{
		margin-left:0.5rem;
	}
}
.left-box
{
	background-color:#ffffff;
}
#color-orange
{
	color:orange;
}

.global
{
	background-color:#ffffff;
	overflow:auto;
	margin-left: 0.15rem;
}
.firstPart
{
	border-bottom:0.01rem solid rgb(230,230,230);
	padding-bottom: 0.25rem;
}
.firstPart img
{
	float:left;
	margin:0.58rem 0.36rem 0.65rem 0.85rem;
}
.firstPart p
{
	font-size:0.14rem;
	line-height:0.3rem;
	margin-top:0.26rem;
	margin-right:0.5rem;
	color:rgb(153,153,153);
}
.secondPart
{
	padding:0.4rem 0.5rem 0.5rem 0.5rem;
}
.secondPart p
{
	font-size:0.14rem;
	line-height:0.3rem;
	text-align:justify;
	margin-bottom:0.38rem;
	color:rgb(153,153,153);
}

.index_footer
{
	background-color:rgb(38,162,111);
	margin-top:0rem;
	border-bottom:0.005rem solid white;
}
@media (max-width: 768px)
{
	.para1,.para2,.para3,.para5,.para6
	{
		text-align:center;
	}
}
.para1 p
{
	
	margin-top:0.38rem;
	margin-bottom:0.15rem;
	font-size:0.16rem;
	color:white;
}
.para2 p
{
	margin-top:0.38rem;
	margin-bottom:0.15rem;
	margin-left:0.5rem;
	font-size:0.16rem;
	color:white;
}
.para3 p
{
	margin-top:0.17rem;
	margin-left:0.5rem;
	padding-bottom:0.07rem;
	margin-bottom:0.12rem;
	font-size:0.16rem;
	color:white;
}
.para5 p
{
	margin-top:0.07rem;
    margin-bottom:0.34rem;
	font-size:0.16rem;
	color:white;
}
.para6 p
{

    margin-top:0.07rem;
    margin-bottom:0.34rem;
	margin-left:0.5rem;
	font-size:0.16rem;
	color:white;
}
.text-9
{
	font-size:0.16rem;
	color:white;
	margin-top:0.39rem;
	margin-right:0.3rem;
	margin-bottom:0.09rem;
}
.mid
{
	text-align:right;
}
.wei
{	
	margin-right:0.32rem;
	display:inline-block;
	margin-bottom:0.2rem;
	
}
.last
{
	background-color:rgb(38,162,111);
	text-align:center;
	position:relative;
}
.last p
{
	padding:0.08rem;
}
.onhover li:hover
{
	text-decoration:underline
}
.onhover a
{
	color:black;
}
.onhover
{
	padding-left:0rem;
}